/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(http://fonts.googleapis.com/css?family=Lato:400,400italic,300,300italic,100,700);
@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,500,700,300);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* html .clearfix {
  zoom: 1; }

/* IE6 */
*:first-child + html .clearfix {
  zoom: 1; }

/* IE7 */
h1 {
  font-family: 'Ubuntu';
  color: #fff;
  font-weight: 500;
  font-size: 32px;
  line-height: 1.2em; }

h2 {
  color: #fff;
  font-family: 'lato';
  font-weight: 300;
  font-size: 24px;
  line-height: 1.2em; }

.about h2 {
  color: #e21137;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: 600;
  text-align: right;
  font-family: 'ubuntu'; }

h3 {
  font-family: 'lato';
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  margin-bottom: 16px; }

a {
  text-decoration: none;
  font-family: 'lato';
  cursor: pointer;
  color: #05b69c;
  text-transform: lowercase; }
  a:hover {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color: #03DEBE; }

nav a {
  color: #fff;
  margin-left: 24px;
  font-weight: 300;
  font-size: 18px;
  font-family: 'ubuntu'; }
  nav a:hover {
    color: #fff; }

.inner {
  font-weight: 300; }
  .inner p {
    color: #fff;
    font-family: 'lato'; }
  .inner a {
    border-bottom: 1px solid;
    margin-left: 0;
    font-family: 'lato'; }
    .inner a:hover {
      opacity: .7; }

p {
  font-family: 'lato';
  color: #676767;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.4em; }

.project-info p {
  line-height: 1.2em;
  margin-bottom: 16px; }

.project-link {
  margin-left: 16px; }

em {
  font-weight: 300;
  font-style: italic; }

strong {
  font-weight: 600; }

.resume p {
  margin-bottom: 16px; }

*, *:after, *:before {
  box-sizing: border-box; }

main {
  padding: 64px 0;
  width: 1000px;
  margin: 0 auto; }

.two-thirds {
  width: 66%;
  float: right;
  clear: right; }
  .two-thirds .show {
    height: 40px;
    width: 100%; }

.item, .resume-item {
  width: 30%;
  float: left;
  margin-right: 5%;
  margin-bottom: 16px;
  position: relative; }
  .item:nth-child(3n), .resume-item:nth-child(3n) {
    margin-right: 0; }

.item {
  height: 88px; }

.third {
  width: 30%;
  float: left;
  clear: left; }

.portfolio {
  clear: both; }

.about {
  margin-bottom: 48px; }

.show {
  display: none; }

.show.portfolio {
  display: block;
  height: 298px;
  position: relative; }
  .show.portfolio:hover .project-info {
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    opacity: 1; }
  .show.portfolio:hover .color {
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    opacity: .2; }
  .show.portfolio .color {
    background-color: #fff;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0; }

.overlay {
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #d1d1d1;
  opacity: .5; }
  .overlay:hover {
    cursor: pointer;
    opacity: 0;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease; }

.project-info {
  position: absolute;
  top: 16px;
  left: 16px;
  z-index: 200;
  width: 50%;
  background: #fff;
  padding: 16px;
  line-height: 1.2em;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2); }

.pipe {
  display: none; }

footer {
  margin-top: 48px;
  display: block;
  clear: both;
  width: 100%;
  position: relative; }
  footer p {
    text-align: right;
    padding: 36px 0;
    font-size: 12px; }

header {
  width: 100%;
  background-image: url("../images/mountains.jpg");
  height: 200px;
  background-repeat: no-repeat;
  background-size: auto;
  background-size: cover;
  position: relative; }
  header .gradient {
    width: 100%;
    height: 100%;
    position: absolute;
    background: #2aa391;
    /* Old browsers */
    background: -moz-linear-gradient(left, #2aa391 0%, #f8ed31 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left left, left right, color-stop(0%, #2aa391), color-stop(100%, #f8ed31));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #2aa391 0%, #f8ed31 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #2aa391 0%, #f8ed31 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #2aa391 0%, #f8ed31 100%);
    /* IE10+ */
    background: linear-gradient(to right, #2aa391 0%, #f8ed31 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
    /* IE6-9 */
    opacity: .8; }

.header {
  z-index: 200;
  position: relative;
  width: 1000px;
  margin: 0 auto;
  padding: 48px 0; }
  .header .title {
    /*     border: 3px solid $white;
 */
    padding: 12px 16px 16px;
    width: 50%;
    float: left; }
  .header nav {
    width: 50%;
    float: right;
    text-align: right;
    margin-top: 32px; }

.inner {
  display: none; }

.content {
  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  display: block;
  position: relative;
  background-color: none;
  height: 87px;
  float: right;
  margin-top: 16px;
  padding: 16px 32px 16px 8px; }
  .content .close {
    position: absolute;
    top: 22px;
    right: 0px;
    width: 16px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .content .close:hover {
      cursor: pointer;
      opacity: .6;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }

.item[data-grid*='1'] {
  background-image: url("../images/fire-tracker-thumb.jpg");
  background-size: cover; }

.item[data-grid*='2'] {
  background-image: url("../images/article-thumb.jpg");
  background-size: cover; }

.item[data-grid*='3'] {
  background-image: url("../images/tea-shop-thumb.jpg");
  background-size: cover; }

.item[data-grid*='4'] {
  background-image: url("../images/sun-dial-thumb.jpg");
  background-size: cover; }

.item[data-grid*='5'] {
  background-image: url("../images/calculator-thumb.jpg");
  background-size: cover; }

.item[data-grid*='6'] {
  background-image: url("../images/tic-tac-toe-thumb.jpg");
  background-size: cover; }

.item[data-grid*='7'] {
  background-image: url("../images/reddit-thumb.jpg");
  background-size: cover; }

.item[data-grid*='8'] {
  background-image: url("../images/slideshow-thumb.jpg");
  background-size: cover; }

.item[data-grid*='9'] {
  background-image: url("../images/background-thumb.jpg");
  background-size: cover; }

#item1 {
  background-image: url("../images/fire-tracker.jpg");
  background-size: cover; }

#item2 {
  background-image: url("../images/article.jpg");
  background-size: cover; }

#item3 {
  background-image: url("../images/tea-shop.jpg");
  background-size: cover; }

#item4 {
  background-image: url("../images/sun-dial.jpg");
  background-size: cover; }

#item5 {
  background-image: url("../images/calculator.jpg");
  background-size: cover; }

#item6 {
  background-image: url("../images/tic-tac-toe.jpg");
  background-size: cover; }

#item7 {
  background-image: url("../images/reddit.jpg");
  background-size: cover; }

#item8 {
  background-image: url("../images/slideshow.jpg");
  background-size: cover; }

#item9 {
  background-image: url("../images/background.jpg");
  background-size: cover; }

@media (max-width: 1060px) {
  main {
    width: 90%; }
  .header {
    width: 90%; } }

@media (max-width: 850px) {
  .about .third, .about .two-thirds {
    width: 100%; }
    .about .third h2, .about .two-thirds h2 {
      text-align: left; }
  h1 {
    width: 200px;
    float: left;
    font-size: 24px; }
  h2 {
    width: 250px;
    float: left;
    font-weight: 300;
    margin-bottom: 8px; }
  header {
    height: 170px; }
  .header {
    padding-top: 32px; }
    .header .title {
      width: 100%;
      float: left;
      padding: 0; }
    .header nav {
      width: 100%;
      margin-top: 8px;
      float: left;
      text-align: left; }
      .header nav .content {
        float: left;
        margin-top: 16px;
        padding: 0 48px 16px 0; }
        .header nav .content .close {
          top: 7px; }
      .header nav a {
        color: #484848;
        margin-left: 0;
        margin-right: 12px;
        margin-left: 12px; }
        .header nav a:first-child {
          margin-left: 0; }
      .header nav p {
        color: #484848;
        font-weight: 500; }
  .project-info {
    width: 90%;
    left: 5%; }
  .item {
    height: 68px;
    margin-bottom: 8px; }
  .show.portfolio {
    height: 219px; }
  .third {
    width: 32%; }
  .pipe {
    display: inline;
    color: #484848; } }

@media (max-width: 650px) {
  main {
    padding: 32px 0; }
  .third.grid {
    width: 100%; }
    .third.grid .item {
      width: 18%;
      margin-right: 2.5%;
      margin-bottom: 12px;
      height: 8 0px; }
      .third.grid .item:nth-child(5n) {
        margin-right: 0; }
  .two-thirds {
    width: 100%; }
  .about {
    margin-bottom: 16px; }
  .grid .item {
    height: 58px;
    margin-bottom: 8px; }
  .header nav a {
    color: #484848;
    margin-left: 0;
    margin-right: 6px;
    margin-left: 6px;
    font-size: 14px;
    font-weight: 500; }
  .header nav p {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2em; }
  .header nav .content {
    margin-top: 10px; }
    .header nav .content .close {
      top: 2px; } }
