@import url(http://fonts.googleapis.com/css?family=Lato:400,400italic,300,300italic,100,700);
@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,500,700,300);

h1 {
  font-family: 'Ubuntu';
  color: $white;
  font-weight: 500;
  font-size: 32px;
  line-height: 1.2em;
}

h2 {
  color: $white;
  font-family: 'lato';
  font-weight: 300;
  font-size: 24px;
  line-height: 1.2em;
}

.about h2 {
  color: $red;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: 600;
  text-align: right;
  font-family: 'ubuntu';
}

h3 {
  font-family: 'lato';
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  margin-bottom: 16px;
}

a {
  text-decoration: none;
  font-family: 'lato';
  cursor: pointer;
  color: $bright-green;
  text-transform: lowercase;
  &:hover {
    @include transition(all .3s ease);
    color: $green-hover;
  }
}

nav a {
  color: $white;
  margin-left: 24px;
  font-weight: 300;
  font-size: 18px;
  font-family: 'ubuntu';
  &:hover {
    color:$white;
  }
}

.inner {
  font-weight: 300;
  p {
    color: $white;
    font-family: 'lato';

  }
  a {
    border-bottom: 1px solid;
    margin-left: 0;
    font-family: 'lato';
    &:hover {
      opacity: .7;
    }
  }
}

p {
  font-family: 'lato';
  color: $dark-grey;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.4em;
}

.project-info p {
  line-height: 1.2em;
  margin-bottom: 16px;
}

.project-link {
  margin-left: 16px;
}

em {
  font-weight: 300;
  font-style:italic;
}

strong {
  font-weight: 600;
}

.resume p {
  margin-bottom: 16px;
}
