.item[data-grid*='1'] {
  background-image: url('../images/cluster-thumb.jpg');
  background-size: cover;
}

.item[data-grid*='2'] {
  background-image: url('../images/fire-tracker-thumb.jpg');
  background-size: cover;
}

.item[data-grid*='3'] {
  background-image: url('../images/article-thumb.jpg');
  background-size: cover;
}

.item[data-grid*='4'] {
  background-image: url('../images/tea-shop-thumb.jpg');
  background-size: cover;
}

.item[data-grid*='5'] {
  background-image: url('../images/calculator-thumb.jpg');
  background-size: cover;
}

.item[data-grid*='6'] {
  background-image: url('../images/tic-tac-toe-thumb.jpg');
  background-size: cover;
}

.item[data-grid*='7'] {
  background-image: url('../images/slideshow-thumb.jpg');
  background-size: cover;
}

.item[data-grid*='8'] {
  background-image: url('../images/background-thumb.jpg');
  background-size: cover;
}

.item[data-grid*='9'] {
  background-image: url('../images/reddit-thumb.jpg');
  background-size: cover;
}

#item1 {
  background-image: url('../images/cluster.jpg');
  background-size: cover;
}

#item2 {
  background-image: url('../images/fire-tracker.jpg');
  background-size: cover;
}

#item3 {
  background-image: url('../images/article.jpg');
  background-size: cover;
}

#item4 {
  background-image: url('../images/tea-shop.jpg');
  background-size: cover;
}

#item5 {
  background-image: url('../images/calculator.jpg');
  background-size: cover;
}

#item6 {
  background-image: url('../images/tic-tac-toe.jpg');
  background-size: cover;
}

#item7 {
  background-image: url('../images/slideshow.jpg');
  background-size: cover;
}

#item8 {
  background-image: url('../images/background.jpg');
  background-size: cover;
}

#item9 {
  background-image: url('../images/reddit.jpg');
  background-size: cover;
}
